.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: black;
  height: auto;
}

.auth-space-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw;

  .auth-space {
    margin: 0;
    color: #fff;
    padding: 0 16px;
    cursor: pointer;
  }
}

.search-field {
  width: 30vw !important;
}
