
.login-page {
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%
}

.login-page .form-content {
    padding: 0 30px
}

.login-page .form-content .content-main {
    margin-top: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 7px 0 #9d9d9d
}

.login-page .fieldGroup {
    margin-bottom: 15px
}

.login-page .fieldGroup p {
    color: #333;
    font-weight: 700
}

.login-page .fieldGroup input {
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #777;
    color: #333;
    padding: 0 10px;
    margin-bottom: 7px
}

